html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
/* top nav css*/
nav {
  background-color: black;
  color: whitesmoke;
  padding: 2rem 5rem;
}
.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchInput {
  display: flex;
  align-items: center;
  background-color: aqua;
  padding: 0.6rem 1.5rem;
  border-radius: 0.5rem;
}
.searchBox {
  border: none;
  background-color: transparent;
  outline: none;
}
.searchBox::placeholder {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
}
.offer {
  border-bottom: 2px solid greenyellow;
  cursor: pointer;
}
/* bottom nav css*/
.navbar-bottom {
  display: flex;
  justify-content: center;
}
.menuItem {
  margin-right: 3rem;
  margin-top: 2rem;
  cursor: pointer;
  color: whitesmoke;
}
.menuItem:hover {
  color: aqua;
  transition: 300ms ease-in-out;
}
/* slider css*/
.slidder {
  background: url("./images/bacgg.jpg");
  overflow: hidden;
}
.sliderBg {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  position: absolute;
  align-items: center;
  justify-content: center;

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(3px);
  border: px solid rgba(26, 157, 126, 0.25);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.slidderItem:nth-child(1) .sliderBg {
  background: rgba(78, 149, 133, 0.5);
}
.slidderItem:nth-child(2) .sliderBg {
  background: rgba(248, 103, 13, 0.998);
}
.slidderItem:nth-child(3) .sliderBg {
  background: rgba(206, 12, 220, 0.6);
}
.slidderItem:nth-child(4) .sliderBg {
  background: rgba(14, 192, 151, 0.65);
}
.slidderItem:nth-child(5) .sliderBg {
  background: rgba(78, 81, 149, 0.711);
}
/* slider price btn */
.slidderItem:nth-child(1) .slidderPrice {
  background: rgba(9, 96, 76, 0.884);
  color: whitesmoke;
}
.slidderItem:nth-child(2) .slidderPrice {
  background: rgba(248, 103, 13, 0.998);
  color: whitesmoke;
}
.slidderItem:nth-child(3) .slidderPrice {
  background: rgba(206, 12, 220, 0.6);
  color: whitesmoke;
}
.slidderItem:nth-child(4) .slidderPrice {
  background: rgba(14, 192, 151, 0.65);
  color: whitesmoke;
}
.slidderItem:nth-child(5) .slidderPrice {
  background: rgba(78, 81, 149, 0.711);
  color: whitesmoke;
}
.sliderImg {
  z-index: 100;
  object-fit: cover;
}

.slidderWrapper {
  display: flex;
  width: 500vw;
  transition: all 2s ease-in-out;
}
.slidderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
.slidderTitle {
  position: absolute;
  top: 10%;
  right: 4%;
  font-size: 60px;
  text-align: center;
}
.slidderPrice {
  position: absolute;
  top: 15%;
  left: 5%;
  font-size: 20px;
  border: 1px solid rgb(11, 43, 43);
  padding: 1rem 2rem;
  border-radius: 0.3rem;
}
.buyBtn {
  position: absolute;
  top: 60%;
  right: 6%;
  border: none;
  background-color: tomato;
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  font-size: 20px;
  transition: 300ms ease-in-out;
}
.buyBtn:hover {
  color: aqua;
  background-color: #000;
  cursor: pointer;
  transition: 300ms ease-in-out;
}
.features {
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4rem;
}
.featuredIcon {
  width: 50px;
  height: 50px;
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: max-content;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin: 1rem;
  padding: 1rem 1.4rem;
  border-radius: 0.3rem;
}
.featuredTitle {
  font-weight: 600;
}
.featuredDesc {
  color: gray;
  font-size: 19px;
}
.products {
  height: 100vh;
  padding: 2rem 4rem;
  background-color: whitesmoke;
  position: relative;
}
.productImg {
  width: 45%;
  filter: drop-shadow(34px 43px 26px rgb(161, 158, 158));
}
.productDetails {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 2rem;
}
.productTitle {
  font-size: 60px;
}
.productPrice {
  font-size: 30px;
}
.productDesc {
  font-size: 18px;
}
.sizes,
.colors {
  display: flex;
  cursor: pointer;
}
.size {
  margin-left: 1.5rem;
  margin-top: 1rem;
  border: 1px solid black;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.color {
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: #000;
  margin-right: 1rem;
  margin-top: 1rem;
}
.color:last-child {
  background-color: blueviolet;
}
.payBtn {
  float: right;
  border: none;
  background-color: tomato;
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  font-size: 20px;
  transition: 300ms ease-in-out;
  margin-top: 2rem;
  cursor: pointer;
}
.payBtn:hover {
  background-color: #000;
  cursor: pointer;
  transition: 300ms ease-in-out;
  color: aqua;
}
.payment {
  display: none;
  flex-direction: column;
  width: 400px;
  height: 580px;
  background: rgba(0, 255, 132, 0.181);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(13, 211, 107, 0.25);
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 2rem 5rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 104, 61, 0.291) 0px 2px 4px 0px,
    rgba(7, 100, 46, 0.542) 0px 2px 16px 0px;
}
.payInput {
  margin: 0.6rem 0;
  padding: 0.7rem;
  border: none;
  background-color: rgba(5, 63, 5, 0.193);
  outline: none;
  border-radius: 0.2rem;
  border-bottom: 2px solid gray;
  
}
.payIn{
  width: 100px;
    border: none;
  outline: none;
  border-bottom: 2px solid gray;
background-color: rgba(5, 63, 5, 0.193);
padding: 0.7rem;
margin-right: 0.3rem;
  border-radius: 0.2rem;
}
.cardNumber{
  width: 200px;
  margin-bottom: 0.5rem;
  border: none;
  outline: none;
background-color: rgba(5, 63, 5, 0.193);
padding: 0.7rem;
border-radius: 0.2rem;
border-bottom: 2px solid gray;

}

.payInput::placeholder {
  font-size: 16px;
  font-style: italic;
}
label {
  font-size: 20px;
  font-weight: 300;
}
.paymentTitle {
  text-align: center;
}
.cardImg{
  width: 50px;
  height: 50px;
 
}
.cardIcons{
  display: flex;
}
.cardInfo{
  display: flex;
  width: max-content;
}

.checkOutBtn {
  position: absolute;
  width: 100%;
  height: 3rem;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-color: tomato;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  border: none;
  outline: none;
  cursor: pointer;
  column-rule: whitesmoke;
  transition: width .5s'
  border-radius .5s;
}
.checkOutBtn * {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: opacity .25s;
}
.checkOutBtn:hover{
  color: aqua;
  background-color: black;
}
.checkOutBtn:hover .text{
  color: aqua;
}
#icon{
  opacity: 0;
  color: rgb(115, 255, 0);
  font-size: 30px;
}
.checkOutBtn:focus{
  width:50px;
  background-color: black;
  border-radius: 100px;
  
  
}
.checkOutBtn:focus .text {
  opacity: 0;
  transition: 0.01s;

}
.checkOutBtn:focus #icon{
  opacity: 1;
  transition-delay:  .5s;
  margin-bottom: 10px;
}
.text {
  color: black;
  font-size: 24px;
  
}
.closeBtn{
  position: absolute;
  top: 2%;
  right: 5%;
  width: 30px;
  height:30px;
 align-items: center;
 justify-content: center;
  background-color: tomato;
  color: #fff;
  border-radius: 10px;
  text-align: center;
font-size: 16px;
display: flex;
cursor: pointer;
}
.closeBtn:hover{
  background-color: #000;
  color: aqua;
}
.gallery{
  padding: 3rem;
  display: flex;
  height: 80vh;
}
.galleryItem{
  flex: 1;
  padding: 0.3rem;

}
.galleryImg{
width: 100%;
height: 300px;
box-shadow: rgba(17, 17, 26, 0.448) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
cursor: pointer;

}
.galleryImg:hover{
 -webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  border-radius: 1rem;
}
.galleryItem:hover{
  -webkit-transform: scale(1);
	transform: scale(1);
  transition: 3ms ease-in-out;
}
.galleryItem ,h2{
  text-align: center;
  color: gray;
}